body {
    background: linear-gradient(45deg, #FF5733, #FF8C00, #FFD700, #FF5733);
}

.rounded-search {
    border-radius: 50px;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 0.5rem 0;
}

footer ul li a {
    text-decoration: none;
}

.social-media img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}
